<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-1">
      <div class="drinks-pic">
        <%= image_tag "drinks/blackmilktea.png" %>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6">

      <div class="row">
        <div class="col-xs-12 col-sm-6 col-drinks">
          <div class="drinks-set">
            <div class="drinks-title">Bubble Tea</div>
            <div class="drinks-items">
              <div>Black Milk Tea</div>
              <div>Taro Bubble</div>
              <div>Green Milk Tea</div>
              <div>Almond</div>
              <div>Mango</div>
              <div>Lychee</div>
              <div>Honey Dew</div>
              <div>Coconut</div>
              <div>Mango</div>
              <div>Coffee</div>
              <div>Strawberry</div>
              <div>T-Coconut Milk</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-drinks">
          <div class="drinks-set">
            <div class="drinks-title">Hot Tea</div>
            <div class="drinks-items">
              <div>Jasmine Green</div>
              <div>Morracon Mint</div>
              <div>Toasted Rice Green</div>
              <div>Aged Earl Grey</div>
              <div>Chamomile Lemon</div>
              <div>Orange Spice</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-drinks">
          <div class="drinks-set">
            <div class="drinks-title">Coffee</div>
            <div class="drinks-items">
              <div><u>HOT COFFEE</u></div>
              <div>Espresso Macchiato</div>
              <div>Americano</div>
              <div>Latte</div>
              <div>Cappuccino</div>
              <div>Caramel Macchiato</div>
              <div>Chocolate Mocha (dark,white,raspberry)</div>
              <div>Drip Coffee</div>
              <div>Hot Chocolate</div>
              <br>
              <div><u>ICE COFFEE</u></div>
              <div>Cold brew</div>
              <div>Americano</div>
              <div>Latte</div>
              <div>Chocolate Mocha</div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-drinks">
          <div class="drinks-set">
            <div class="drinks-title">Specialty</div>
            <div class="drinks-items">
              <div>Red Bean Ice</div>
              <div>HK Style Tea</div>
              <div>Lemon Tea</div>
              <div>Horlick</div>
              <div>Ovaltine</div>
              <div>Avocado Slush</div>
              <div>Matcha Green Tea Slush</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>