<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row intro intro-cap">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "capitol_hill/issaquah-main-large.jpg", class: 'restaurant-main-image' %>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="description">
            <div>
              <%= image_tag "regent_logo.png", class: "title-regent" %>
              <span class="title-caphill"> Issaquah</span>
            </div>
            <br>
            <p>
              Regent Bakery and Cafe is an Asian bakery features a variety of cakes, sweet and savory pastries, including popular items like pineapple buns, egg tarts, cocktail buns, BBQ pork buns, Blackforest cakes, mango mousse cakes and more.
              <br>
              With our launch in Redmond since 2000, we have established a brand that is highly recognized by the local Asian American communities. In addition, our black forest cake became an illustration in the video game Portal as a "reward cake" due to a local game developers' fondness for the cake.
            </p>
          </div>
        </div>
      </div> <!-- end intro -->

      <div class="row row-order">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <a href="https://pos.chowbus.com/online-ordering/store/15622" class="btn btn-lg btn-order btn-order-cap" >ORDER FOR PICKUP OR DELIVERY</a>
        </div>
      </div>

      <div class="row row-info row-info-cap">
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Hours
          </div>
          <div class="info-content info-content-hours">
            <table class="hours">
              <col></col>
              <col class="time"></col>
              <tr><td class="day-of-week">Monday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Tuesday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Wednesday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Thursday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Friday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Saturday</td><td class="time">9am - 7pm</td></tr>
              <tr><td class="day-of-week">Sunday</td><td class="time">10am - 6pm</td></tr>
            </table>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Contacts
          </div>
          <div class="info-content info-content-contacts">
            <div class="contact-entry">
              <div class="contact-type">Phone:</div>
              <div class="contact-value"><a class="phone" href="tel:425-657-0281">(425) 657-0281</a></div>
            </div>
            <div class="contact-entry">
              <div class="contact-type">Email:</div>
              <div class="contact-value"><a class="email" href="mailto:regentissaquah@gmail.com">regentissaquah@gmail.com</a></div>
            </div>
            <div class="contact-entry">
              <div class="contact-type">Address:</div>
              <div class="contact-value">
                <address>
                  1802 12th Ave NW, suite B
                  Issaquah, WA 98027
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Direction
          </div>
          <div class="info-content info-content-map">
            <div class="map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2692.886958471381!2d-122.05866278845856!3d47.55052879172826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x54906f8533c764bd%3A0x7fe9e4ee062e27eb!2sRegent%20Bakery%20and%20Cafe!5e0!3m2!1sen!2sus!4v1758612903183!5m2!1sen!2sus" width="100%" height="235" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div> <!-- end info -->


    </div>
  </div>
</div>





