<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <div class="row intro intro-mooncakes">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "mooncakes/mooncake2016-header.jpg", class: 'restaurant-main-image' %>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="description">
            <p>
              For a limited time, Regent is offering traditional Chinese mooncakes to our customers to celebrate the mid-autumn fesitval.<br>
              <br>
              Purchases of 2 boxes of mooncakes will receive a 5% discount. Purchase of 3 boxes will receive a 10% discount, and purchases of 5 or more boxes will receive 15% discount.<br>
              <br>
              <br>
              中秋佳節期間，麗晶將推出各式傳統中秋月餅以供顧客選購。<br>
              <br>
              凡購買2盒月餅可享有九五折優惠、購買3盒月餅可享有九折優惠、購買5盒或以上月餅更可享有八五折優惠。
            </p>
          </div>
        </div>
      </div> <!-- end intro -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <table class="table table-mooncakes">
        <thead>
          <tr>
            <td></td>
            <td class="td-mooncakes-piece-price">1 pc</td>
            <td class="td-mooncakes-box-price">1 box (4 pc)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-mooncakes-name">
              Lotus Seed <br>
              纯正蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Lotus Seed (Single Yolk) <br>
              單黃蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Lotus Seed (Double Yolks) <br>
              雙黃蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Green Tea <br>
              純正綠茶蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Green Tea (Single Yolk)<br>
              單黃綠茶蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Green Tea (Double Yolks)<br>
              雙黃綠茶蓮蓉
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Pineapple <br>
              鳯梨
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Red Bean <br>
              纯正红豆
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Red Bean (Single Yolk) <br>
              單黃红豆
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Red Bean (Double Yolks) <br>
              雙黃红豆
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Wintermelon<br>
              冬蓉
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs-12 col-sm-5">
      <table class="table table-mooncakes">
        <thead>
          <tr>
            <td></td>
            <td class="td-mooncakes-piece-price">1 pc</td>
            <td class="td-mooncakes-box-price">1 box (4 pc)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-mooncakes-name">
              Mung Bean <br>
              纯正緑豆
            </td>
            <td class="td-mooncakes-piece-price">
              8
            </td>
            <td class="td-mooncakes-box-price">
              32
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Mung Bean (Single Yolk)<br>
              單黃緑豆
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Mung Bean (Double Yolks)<br>
              雙黃緑豆
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Dates<br>
              纯正枣泥
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Dates (Single Yolk)<br>
              單黃枣泥
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Dates (Double Yolks)<br>
              雙黃枣泥
            </td>
            <td class="td-mooncakes-piece-price">
              9.5
            </td>
            <td class="td-mooncakes-box-price">
              38
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              White Lotus<br>
              纯正白蓮蓉 
            </td>
            <td class="td-mooncakes-piece-price">
              8.5
            </td>
            <td class="td-mooncakes-box-price">
              34
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              White Lotus (Single Yolk)<br>
              單黃白蓮蓉 
            </td>
            <td class="td-mooncakes-piece-price">
              9
            </td>
            <td class="td-mooncakes-box-price">
              36
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              White Lotus (Double Yolks)<br>
              雙黃白蓮蓉 
            </td>
            <td class="td-mooncakes-piece-price">
              9.5
            </td>
            <td class="td-mooncakes-box-price">
              38
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Five Nuts<br>
              五仁
            </td>
            <td class="td-mooncakes-piece-price">
              9.5
            </td>
            <td class="td-mooncakes-box-price">
              38
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              <br>
              <br>
            </td>
            <td class="td-mooncakes-piece-price">
            </td>
            <td class="td-mooncakes-box-price">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-1">
      <table class="table table-mooncakes">
        <thead>
          <tr>
            <td></td>
            <td class="td-mooncakes-piece-price">1 pc</td>
            <td class="td-mooncakes-box-price">1 box (9 pc)</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="td-mooncakes-name">
              Egg Yolk Pastry (Redbean/Lotus/Date)<br>
              蛋黄酥 (枣泥/红豆/蓮蓉)
            </td>
            <td class="td-mooncakes-piece-price">
              3.85
            </td>
            <td class="td-mooncakes-box-price">
              34.65
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Ice Mochi (Red bean, Mung bean, Green tea, Taro, Chocolate, Mango, Durian, Lychee, Sesame)<br>
              冰皮 (红豆, 緑豆, 緑荼, 芋頭, 巧克力, 芒果, 榴蓮, 荔枝, 芝麻)
            </td>
            <td class="td-mooncakes-piece-price">
              4.5
            </td>
            <td class="td-mooncakes-box-price">
              40.5
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              Custard<br>
              奶黄
            </td>
            <td class="td-mooncakes-piece-price">
              4.5
            </td>
            <td class="td-mooncakes-box-price">
              40.5
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              <br>
              <br>
            </td>
            <td class="td-mooncakes-piece-price">
            </td>
            <td class="td-mooncakes-box-price">
            </td>
          </tr>
          <tr>
            <td class="td-mooncakes-name">
              <br>
              <br>
            </td>
            <td class="td-mooncakes-piece-price">
            </td>
            <td class="td-mooncakes-box-price">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
<!--     <div class="col-xs-12 col-sm-5">
      <%= image_tag "mooncakes/mooncake2016-1.jpg", { class: "img-responsive center-block", style: "margin-top: 50px;" } %>
    </div> -->
  </div>
</div>
