<script type="text/javascript">
  function initializeMap() {
    console.log("initializ map");
    var latLng = new google.maps.LatLng(47.630873, -122.138302);
    var mapOptions = {
      center: latLng,
      zoom: 14
    };
    var map = new google.maps.Map(document.getElementById('map-redmond'),
        mapOptions);

    var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: 'Regent'
    });
  }
  google.maps.event.addDomListener(window, 'turbolinks:load', initializeMap);
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row intro intro-redmond">
        <div class="col-xs-12 col-md-6">
          <%= image_tag "redmond/wedding.jpg", class: 'restaurant-main-image' %>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="description">
            <div>
              <%= image_tag "regent_logo.png", class: "title-regent" %>
              <span class="title-redmond"> Redmond</span>
            </div>
            <br>
            <p>
              Regent Bakery and Cafe is an Asian cafe serving a unique selection of baked goods, beverages, and traditional Hong Kong style Chinese food made with the finest ingredients.<br>
              <br>
              With our launch in Redmond since 2000, we have established a brand that is highly recognized by the local Asian American communities. In addition, our black forest cake became an illustration in the video game Portal as a "reward cake" due to a local game developers' fondness for the cake.
            </p>
          </div>
        </div>
      </div> <!-- end intro -->

      <div class="row row-order">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <a href="http://click.trycaviar.com/wf/click?upn=p8lcjVEv3DqynQuBtUAwBaDc6bagDOxdHnVDi7wpTLtbuRboSddrmiCwwltQMHCKnetUB4u1btoLMux0c46dftrVHCUjPhT7hhm-2FIElpO06f5nz8U-2Bo8F0iWuFf7Cib3g7imhFfa2si3e-2BsvsEkvnlcEUxLREKG84WJpL3Mm-2FP5-2FLSl0i9taox-2FV9NCDutBRmRWA-2BdQByZISmvCOVyMslJxuul-2FUp9Oa7h-2FSBJhEmqjCpm-2F3RbFLDxG2tWuXdSqeJUTR-2FOwV654aPpNpMAZM-2B8nmoOHmqdrDlnZVQU8k19L8kybbvYom7ismCvyaDWcelNjYAzee2nSuPXuRroSB1x-2FSdDFv3qzfGSYd6P2P9PIa-2FYUKwxt-2B02E3H5o-2BYyWKpvBL3U8rolBDd9fVQaoOfIJzGDMFAVf4Lz5fR7-2BR8NO1hmhVZcNK7PuGrH1hBvdS2z770A3Jm7vrbuJOedjdWQ-3D-3D_jMz1n44aX8vkg3T4svOoFnNj1Xgl3qPLUkA9H0yhbUbKWAvCCyNjkRQQv5bFd9p9-2B58l76cVHjWKyVW8JxmqANlTDikY7qbRvx4IqXm5U0FWFolxpkx-2FgZj-2FYvRKhsd22U-2BQwUZUo4VRYD3fSuHRbWuQxsDRK4jnw9Yggk-2BcHqnxEGnre1t7WyUReyBKWYMVcGBt4PV0SnmWbbDxRHywkFyEZTW5dlriTaSbgat4N1UsCAtnSFcGGUEVaN8L6-2FyL9KVsSKvqnoEbhiQzplXHuVfYGYjXeQ8KZcDzKbVtuy5uAhVszxnjphVQWgzUKZytTuOxAjUn29rGDni41OA8dbVYIz2FWrNuz6JN2c78l4ABhqBXCsFbd8HzVYUsBqg4bNmI5WMq0NwBUkVxFIlAAuKY1wVzi8EZ8EE9aHBGyHfyFOUz9hQmfYpIV-2BeXU9T-2FX6P44vRMe2ZE1XbwHIxPWtuCO2d-2BpM01A5yFK99pj31u3yN7Bo7cJ7fNVxTPD-2BgpyajZcolga6za2v2zM45a5pZ0jqhuxt76NsxJRDXea8W2Hl-2BV6Uar0zfj51TVMyKKatLioCOBo0FI3G1MSviKx643rEYVDCdT-2B8ekqwhI1vfReNcaiurDfqik1suhrWj-2B" class="btn btn-lg btn-order btn-order-redmond" >ORDER FOR PICKUP OR DELIVERY</a>
        </div>
      </div>

      <div class="row row-info row-info-redmond">
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Hours
          </div>
          <div class="info-content info-content-hours">
            <table class="hours">
              <col></col>
              <col class="time"></col>
              <tr><td class="day-of-week">Monday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Tuesday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Wednesday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Thursday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Friday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Saturday</td><td class="time">9am - 8pm</td></tr>
              <tr><td class="day-of-week">Sunday</td><td class="time">10am - 7pm</td></tr>
            </table>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Contacts
          </div>
          <div class="info-content info-content-contacts">
            <div class="contact-entry">
              <div class="contact-type">Phone:</div>
              <div class="contact-value"><a class="phone" href="tel:425-378-1498">(425) 378-1498</a></div>
            </div>
            <div class="contact-entry">
              <div class="contact-type">Email:</div>
              <div class="contact-value"><a class="email" href="mailto:redmond@regentbakeryandcafe.com">redmond@regentbakeryandcafe.com</a></div>
            </div>
            <div class="contact-entry">
              <div class="contact-type">Address:</div>
              <div class="contact-value">
                <address>
                  15159 NE 24th St 
                  Redmond, WA 98052
                </address>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-4 col-info">
          <div class="info-type">
            Direction
          </div>
          <div class="info-content info-content-map">
            <div class="map" id="map-redmond">
            </div>
          </div>
        </div>
      </div> <!-- end info -->
    </div>
  </div>
</div>





