<div class="container-fluid">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1 col-xs-12">
      <div class="row">
        <div class="col-xs-12">
          <div class="menu-title menu-title-redmond">
            Menu
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <object width="100%" height="1000" type="application/pdf" data="/Regent_Redmond_Menu_2021.pdf?#toolbar=0&zoom=100">
            <p>
              <a href="Regent_Redmond_Menu_2021.pdf">Link to Menu</a>
            </p>
          </object>
        </div>        
      </div>


<!--       <div class="menu menu-redmond">
        <div class="row row-menu">
          <div id="menu-content">
            <div class="menu-loading"><i class="fa fa-spinner fa-spin"></i> Loading</div>
          </div>
        </div>
      </div>
      <script type="text/javascript">
        fetchMenus("redmond", function(err, menus) {
          var menuContent = $("#menu-content");
          menuContent.empty();

          $.each(menus, function(i, menu) {
            menuContent.append(createMenu(menu.title, menu.entries));
          });

          if (isBreakpoint("xs")) {
            closeMenu($(".sub-menu"));
          }
        });
      </script>
 -->    
    </div>
  </div>
</div>
