$navbar-height: 120px;
// $navbar-collapse-max-height: 100px;
$navbar-padding-vertical: 10px;
$navbar-link-height: 40px;

// Minimum width that allow all navbar-nav items to fit with logo in navbar
$grid-float-breakpoint: 863px; 

$logo-width: 188px;

$navbar-bg-color      : #2e0d00;
$navbar-bg-hl-color    : #2e0d00;
$navbar-li-bg-color     : #dddddd;
$navbar-li-hl-color   : #dd3333;
