@import "font-awesome-sprockets";
@import "font-awesome";

@import "variables";
@import "color";

@import "bootstrap-sprockets";
@import "bootstrap";
// @import "slick";
@import "slick.css.scss";

@import "header";
@import "home";
@import "restaurant";
@import "bakery";
@import "drinks";
@import "mooncakes";

// Structure
html {
  height: 100%;
}
body {
  position: relative;

  margin: 0;
  padding-bottom: $footer-xs-height;
  @media (min-width: $screen-sm-min) {
    padding-bottom: $footer-sm-height;
  }

  min-height: 100%;

  // font-family: "Helvetica Neue";
  // font-weight: normal;
  // font-size: 16px;

  font-family: "Lato";
  font-weight: 400;
  font-size: 15px;

  color: #111;

  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
}

#content {
  margin: 0 auto;

  background: #d0c9c7; /* Old browsers */
  background: -moz-linear-gradient(top,  #d0c9c7 0%, #ffffff 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d0c9c7), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d0c9c7 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d0c9c7 0%,#ffffff 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d0c9c7 0%,#ffffff 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #d0c9c7 0%,#ffffff 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0c9c7', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */


}

// alias to avoid adblock
// .fa-f {
//   @extend .fa-facebook-square;  
// }

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  // height: $footer-xs-height;
  height: 400px;
  @media (min-width: $screen-sm-min) {
    // height: $footer-sm-height;
    height: 210px;
  }
  background-color: $navbar-bg-color;
  padding-top: 30px;
  color: white;
  text-align: center;
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  a {
    color: white;
    &:hover, :active, :focus {
      color: white;
      text-decoration: underline;
    }
    &.phone {
      border-bottom: 1px dotted #aaa;
      text-decoration: none;
    }
  }
  .ss-link {
    font-weight: 600;
  }
  .col-footer {
    text-align: center;
    overflow: hidden;
    display: inline-block;
    > .footer-panel {
      display: inline;
    }
  }
  table.footer-info {
    margin: 0 20px;
    width: 120px;
    text-align: left;
    display: inline-block;
    td {
      > .footer-title {
        font-weight: 600;
      }
    }
  }
  .copyright {
    font-size: 10px;
  }
}

