.title-bakery {
  @extend .title;
  color: #eeeeee;
}
.bakery-tab {
  min-height: 370px;

  img {
    width: 100%;
  }
  > .bakery-description {
    text-align: center;
    padding-top: 1em;
  }
  .tab-title {
    @extend .h4;
    font-family: Lobster;
  }
}
.btn-show-bakery {
  @extend .text-center;
  background-color: black;
  width: 100%;
  margin-bottom: 1em;

  > button {
    margin-bottom: 10px;
    font-weight: bold;
    color: #888;      
  }
}
.bakery {
  @include box-shadow(0 0 4px rgba(0,0,0,0.3));
  margin-bottom: 20px;
  cursor: pointer;
}
.bakery-pic {
  padding: 10px;

  img {
    width: 100%;
    height: 100%;
  }
  background-color: white;
}
.bakery-name {
  width: 100%;
  text-align: center;
  font-family: Lato;
  height: 2em;
  font-weight: 700;
  line-height: 2em;
  vertical-align: middle;

}
.bakery-modal {
  > .modal-dialog {
    > .modal-content {

      .modal-title {
        @extend .h3;
        font-weight: 500;
        font-family: "Lobster", cursive;
      }
      .modal-image {
        > img {
          background-color: white;
          width: 100%;
        }
      }
    }
  }
}



.cake-tab {
  @extend .bakery-tab;
  background-color: #6F4E37;
  border: 1px solid darken(#6F4E37, 3%);
  border-bottom: 0px;

  img {
    background-color: #eaddd5;
  }
  > .cake-description {
    @extend .bakery-description;
    color: white;
    font-weight: 500;
  }
}
#cakes-selection {
  display: none;
}
.cake {
  @extend .bakery;
  background-color: lighten(#6F4E37, 10%);
}
.cake-pic {
  @extend .bakery-pic;

  border: 1px solid lighten(#6F4E37, 45%);
}
.cake-name {
  @extend .bakery-name;
  // color: darken(#6F4E37, 15%);
  color: lighten(#6F4E37, 55%);
  text-shadow: 0 0 #6F4E37;
}
#cake-modal {
  @extend .bakery-modal;
  > .modal-dialog {
    > .modal-content {
      background-color: lighten(#6F4E37, 10%);
      color: white;
    }
  }
}
.btn-show-cake {
  @extend .btn-show-bakery;
  background-color: #6F4E37;
  border: 1px solid darken(#6F4E37, 3%);
  border-top: 0px;
}


.pastry-tab {
  @extend .bakery-tab;
  background-color: #a97303;
  border: 1px solid darken(#a97303, 3%);
  border-bottom: 0px;

  img {
    background-color: #fef4e0;
  }
  > .pastry-description {
    @extend .bakery-description;
    color: white;
  }
}
#pastry-selection {
  display: none;
}
.pastry {
  @extend .bakery;
  background-color: darken(#FBB117, 15%);
}
.pastry-pic {
  @extend .bakery-pic;

  border: 1px solid lighten(#FBB117, 30%);
}
.pastry-name {
  @extend .bakery-name;

  color: white;
  text-shadow: 0 0 darken(#FBB117, 40%);
}
#pastry-modal {
  @extend .bakery-modal;
  > .modal-dialog {
    > .modal-content {
      background-color: darken(#FBB117, 15%);
      color: white;
    }
  }
}
.btn-show-pastry {
  @extend .btn-show-bakery;
  background-color: #a97303;  
  border: 1px solid darken(#a97303, 3%);
  border-top: 0px;
}


.cookie-tab {
  @extend .bakery-tab;
  background-color: #F2BB66;
  border: 1px solid darken(#F2BB66, 3%);
  border-bottom: 0px;

  img {
    background-color: #fefaf3;
  }
  > .cookie-description {
    @extend .bakery-description;
    color: #444;
  }
}
#cookies-selection {
  display: none;
}
.cookie {
  @extend .bakery;
  background-color: lighten(#F2BB66, 10%);
}
.cookie-pic {
  @extend .bakery-pic;

  border: 1px solid lighten(#F2BB66, 20%);
}
.cookie-name {
  @extend .bakery-name;

  color: #555;
  text-shadow: 0 0 #888;
}
#cookie-modal {
  @extend .bakery-modal;
  > .modal-dialog {
    > .modal-content {
      background-color: lighten(#F2BB66, 10%);
      color: #444;
    }
  }
}
.btn-show-cookie {
  @extend .btn-show-bakery;
  background-color: #F2BB66;
  border: 1px solid darken(#F2BB66, 3%);
  border-top: 0px;
}