
.intro-mooncakes {
  background-color: $main-color-mooncakes;
  margin-bottom: 30px;
}


.table-mooncakes {
  margin-top: 20px;
  > thead {
    background-color: #805555;
    color: #eee;
    .td-mooncakes-name {

    }

    .td-mooncakes-piece-price {
      text-align: center;
      width: 64px;
    }

    .td-mooncakes-box-price {
      text-align: center;
      width: 114px;
    }

  }
  > tbody {
    background-color: #eedddd;
    .td-mooncakes-name {
      word-break: keep-all;
    }

    .td-mooncakes-piece-price {
      text-align: center;
      line-height: 2.84em !important;
    }

    .td-mooncakes-box-price {
      text-align: center;
      line-height: 2.84em !important;
    }
  }
}
